body, html
  height: 100%
  width: 100%
  background-color: black
  color: white
  padding: 15px
  
.hidden
  display: none
  
.section
  border: 1px solid white
  display: inline-block
  padding: 10px
  margin: 10px
  
@mixin pseudo-button 
  float: right
  border: 1px solid grey
  display: inline block
  padding: 5px
  margin: 5px
  &:hover
    cursor: pointer
    box-shadow: 0 0 5px red
  
.delete-btn
  color: red
  background: grey
  @include pseudo-button

.loop-btn
  @include pseudo-button

.btn-on
  border: 3px solid grey
  box-shadow: 0 0 5px silver

#recording-status
  font-size: 24px
  display: inline-block
  margin: 10px