doctype html
html lang='en'

  head

    title "Musicker"
    link rel="stylesheet" href="./styles/index.css"
    script src="./scripts/jquery.js"
    script src="./scripts/RecordRTC.js"
    script src="./scripts/index.js"
    
  body

    button id="record" record
    br

    div.audio-section
      form action='#' class='save'
        input type='text' class='name' placeholder='name'
        input type='submit' value='submit'
      br
      audio controls=''
        source id="audio-src" type='audio/ogg'


    javascript:
      UI.init()